 body {

    background-color: #85C69A ;
    color: #FFF2F2;
    height:100%;
}
section {
    position: absolute;
    left: 50%;
    transform:  translate(-50%);

}
img {
    border-radius: 5px;
}
.content {
  margin: Y, X;
  border-radius: 5px;
}
button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.primary {
    background-color: #E10F0F;
}
.secundary {
    background-color:#000;
    color: #f1ecec;
}
input {
    border: none;
    padding: 15px 2px;
    margin-right: 10px;
    border-radius: 5px ;
}